.container {
    position: relative;
}

.footer {
    position: absolute;
    width: 100%;
    top: 95vh;
    height: 5vh;
}

td {
    text-align: center;
}

#loader,#city_not_found {
    display: none;
}